.recent-item{
    /* margin: 10px 0; */
    padding:10px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #747474;
}
#first-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#first-section img , #first-section p{
    margin: 0 8px;
}
#second-section{
    display: flex;
    align-items: center;
}
#second-section p{
    color:#747474;
    font-size: 12px;
}
#second-section p:first-child{
    margin:0 0 0 41px;
}
#second-section p:last-child{
    margin:0;
    position: absolute;
    right: 8px;
}
.recent-item img{
    width: 17px;
    height: 17px;
}